body{
    font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
    background-color: #669900;
    margin: 17px 0 15px 0;
}
.formMainDiv{
    padding: 20px;
}
.formDiv{
    width: 640px;
}
.fromHeader{
    background-color: #99cc00;
}
.headSpan{
    font-size: 21px;
}
.headSpanTwo{
    font-size: 12px;
}
.formInputDiv{
    padding: 20px 14px 0 14px;
}
.formHead{
    margin: 0 0 5px 0;
    padding: 0 1% 1.1em 1%;
    border-bottom: 1px dotted #ccc;
}
ul{
    padding: 0px;
}  
.inputLi{
    list-style-type: none;
    margin: 0px;
    padding: 0px !important;
}
.label{
    font-size: 12px;
    font-weight: bold;
}
.dateOne{
    width: 19px;
    height: 26px;
}
.dateThree{
    width:35px;
    height: 26px;
}
.dateLabel,.fileInput{
    font-size: 12px;
}
.inputHeight{
    height: 26px;
}
.portfolioInput{
    font-size: 12px;
    width: 394px;
}
.salaryInputOne{
    width: 85px;
}
.contactDetails{
    font-size: 15px;
    padding: 10px 5px 2px 5px;
    border-top: 1px dotted #ccc;
}
.nameInputFisrt{
    width: 68px;
}
.nameInputSecond{
    width: 118px;
}
.phoneOne{
    width: 27px;
}
.phoneThree{
    width: 35px;
}
.submitButton{
    font-size: 15px;
    width: 67px;
    height: 22px;
    padding: 0 7px;
}
.formFooterDiv{
    color: #7e7e7e;
    padding: 20px 6px;
    font-size: 13px;
}
.error{
    font-size: 12px;
    font-weight: bold;
    color: red;
}